<style>
  @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500;600;700;800&display=swap');
</style>
:root{
	--f7-theme-color:#FF862F;
	--f7-navbar-bg-color: #fff; /*navbar*/
	--f7-navbar-link-color: #5079FE; /*navbar link*/
	--f7-navbar-text-color:#7C899F;
	--f7-bars-bg-color:#fff;/*toolbar*/
	--f7-tabbar-link-inactive-color: #333; /*link toolbar*/
	--f7-block-margin-vertical:20px;
	--f7-card-footer-border-color:transparent; 
}
body{
	font-family: 'Hanken Grotesk', sans-serif;
}

.img-fluid1{
	max-width: 25%;
	display: block;
	margin: 40% 38% 0;
}
.img-fluid2{
	max-width: 100%;
}
.img-fluid3{
	max-width: 70px;
}
.head{
	text-align: center;
	font-size: 20px;
}
.panel{
	background-color: #FF862F;
	color: #fff;
}
.panel ul{
	margin-top: 40%;
	background-color: #FF862F;
}
.panel ul a{
	color: #fff;
	font-size: 14px;
}
.panel span.material-icons{
	font-size: 22px;
}
.navbar{
	background-color: #fff;
	border: 0;
	box-shadow: transparent;
}
.navbar i{
	color: #000;
}

#bienvenida{
	align-content: center;
	background-color: #FF862F;
	text-align: center;
	color: #fff;
	padding-bottom: 10%;
}

#bienvenida img{
	padding-bottom: 15%;
	padding-top: 30%;
	max-width: 150px;
}


.block-title-medium{
	text-align: center;
	font-size: 18px;
	padding-bottom: 4%;
	color: #fff;
}

.button-fill{
	color: #fff;
	background-color: #FF862F;
	border:solid 1px #fff;
	margin-top: 10%;
	margin-right: 15%;
	margin-left: 15%;
}

.button-fill:hover{
	color: #fff;
	background-color: #FF862F;
	border:none;
	margin-top: 10%;
}
.block-title-medium{
	font-size: 20px;
	margin-top: 20px;
	color: #aaa;
}
.block-title-large{
	color: #FF862F;
	font-size: 50px;
	margin-bottom: 5px;
}

#categories{
	background-color: #fff;
}
#categories a{
	color: #FF862F;
}
#categories .col{
	text-align: center;
	margin: 10px 0;
}
.list .item-after{
	color: #FF862F;
	display: table-column;
}
.paddinglista{
	padding: 30px 0;
}
.list .item-header{
	font-size: 13px;
	font-weight: 700;
}
p, h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
}
.list .item-title p{
	font-size: 11px;
}
#about{
	background-color: #fff;
}
.paddinglista2{
	padding: 10px 0;
}














